@font-face {
    font-family: 'Montserrat Alternates Medium';
    src: url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates Bold';
    src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates ExtraBold Italic';
    src: url('../fonts/MontserratAlternates-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans Bold';
    src: url('../fonts/DMSans-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
    
}

:root {
    --mont-med: 'Montserrat Alternates Medium';
    --mont-bold: 'Montserrat Alternates Bold';
    --mont-ex-it: 'Montserrat Alternates ExtraBold Italic';
    --dm-sans: 'DM Sans Bold';
    --light-blue: #25DAC5;
    --main-blue: #5508A7;
    --text-blue: #1E0E62;
    font-size: 62.5%;
}

body{
    background-color: white;
}

header{
    background-color: var(--main-blue);
}

.header-wrapper{
    display: flex;
    padding: 3.5rem;
    gap: 4.5rem;
    justify-content: center;
}

.header__link{
    font-family: var(--mont-med), sans-serif;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    line-height: 140%;
    margin:15px 0 5px 0;
    opacity: 0.9;
}

.main-wrapper{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 18rem;
    flex-direction: column;
}

.main__title{
    font-family: var(--dm-sans), sans-serif;
    color: var(--text-blue);
    font-size: 7.2rem;
    line-height: 120%;
    padding: 1.5rem;
}

.main__subtitle{
    font-family: var(--dm-sans), sans-serif;
    color: var(--text-blue);
    font-size: 2.2rem;
    line-height: 140%;
    margin: 2rem 0 10rem 0;
    align-self: center;
    opacity: 0.4;
}

.main__link{
    font-family: var(--mont-med), sans-serif;
    color: white;
    background-color: var(--light-blue);
    border: none;
    border-radius: 20px;
    padding:1rem 2rem;
    text-decoration: none;
    font-size: 2.4rem;
    line-height: 140%;
    margin:1rem auto;
}

.page__box{
    display:flex;
    flex-direction:column;
    gap: 4rem;
    margin: 10rem auto 0;
}

.page__title{
    font-family: var(--dm-sans), sans-serif;
    color: var(--text-blue);
    font-size: 5rem;
    line-height: 170%;
    padding: 1.5rem;
    text-align: center;
}

.page-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    max-width: 90rem;
    margin: 0 auto;
    padding-top: 9rem;
}

.thin__title__text{
    font-family: var(--mont-med);
    font-size: 3rem;
    font-weight: 400;
    line-height: 120%;
}

.ap.content-box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-bottom: 8rem;
}

.ap.content__box__title{
    color: white;
    font-size: 2.6rem;
    font-family: var(--mont-bold);
    display: inline-flex;
    background-color: var(--main-blue);
    text-align: center;
    align-self: center;
    padding: 2rem 4rem;
    margin-bottom: 4rem;
    border-radius: 1.5rem;
}

.content-box p, .content-box li{
    font-size: 1.8rem;
    color: white;
    font-family: var(--mont-med);
}

.ap.content-box p{
    font-size: 2rem;
    color: black;
    line-height: 150%;
    text-align: center;
}

.ap.content-box li{
    font-size: 2rem;
    color: black;
    margin-bottom: .75rem;
    list-style-type: decimal;
}
